/CA2-JavaApplication/nbproject/private/
/CA2-JavaApplication/build/
/CA2-java-task-two/nbproject/private/
/CA2-multiplicationt-table/nbproject/private/
/CA2-multiplicationt-table/build/
/CA2-diagonal-sum-matrix/nbproject/private/
/CA2-diagonal-sum-matrix/build/
/CA2-spiral-transversal-matrix/nbproject/private/
/CA2-spiral-transversal-matrix/build/
/CA2-bubble-sort-array/nbproject/private/
/CA2-bubble-sort-array/build/
